.day9-parent {
    /*percent의 변화를 확인하기 위해서는 width나 height를 한 번 지워봐야 한다.*/
    width: 400px;
    height: 300px;
    background: #eee;
}

.day9-box {
    background: #ddd;
    margin-bottom: 8px;
}

.px {
    width: 200px;
    height: 100px;
}

.percent {
    width: 50%;
    height: 50%;
}

/*
percent : 부모의 계산된 크기를 기준으로 계산된다.
          부모의 값이 0이라서 계산되지 않는 게 아닌, 기준 자체가 없어서 auto(가변)처럼 행동한 것.
          percent는 계산 가능한 길이값이 있는 속성에만 사용할 수 있다.
            width, height, padding, margin 등에는 이용 가능하지만, color, z-index에는 사용이 어렵다.

          단, width는 없어도 percent가 잘 작동하는 걸 볼 수 있다.
          이는 block 요소의 width 기본값이 있기 때문.

          percent 입장에서 width는 자연스럽게 부모를 기준으로 크기가 설정된다. (부모 기준)
          percent 입장에서 height는 기본적으로 기본값 기준이 없다. (내용 기준)
*/
