#page-header {
    background-color: #f5f5f5;
}

.day {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 0;
}

.day-title {
    font-weight: bold;
}

.day-desc {
    color: #555;
}

.highlight {
    background-color: #fffbe6;
}

.day .day-title {
    color: red;
}

.day.highlight {
    border-color: red;
}

/*
일부러 확인용으로 만든 것.
h2, p {
    margin: 0;
}
*/

/*
일부러 확인용으로 만든 선택자.
.day.day-title {
    color: blue;
}
*/

/*
border  : 경계선 표시. 요소의 끝.
          border: (선의 두께. 1px 등) (선의 모양. solid 등) (선의 색상. #ccc 등.)
          border만 눈에 보이는 것(선)이라서 padding, margin(둘 다 공간 개념)의 기준점이 된다.
padding : 안쪽 여백. 내 공간. 글자와 테두리 사이의 공간.
          겹치지 않는다.
          박스 내의 안쪽 공간. content와 border 사이의 공간. 다른 요소와 공유되지 않는 것.
            따라서 각각 독립적으로 존재.
margin  : 바깥 여백. 사이 공간. 섹션과 섹션 사이가 벌어지는 것. border 바깥의 공간.
          margin끼리는 겹칠 수 있다(위아래-vertical- 방향만)(좌우에서는 일어나지 않는다).
          요소와 요소 사이의 거리 개념이기 때문.
            .day 안에 { ... margin:20px; }있다고 할 때,
            <section class="day> <h2>Day 1</h2> </secion> 과
            <section class="day> <h2>Day 2</h2> </secion> 과 사이의 거리는
            40px이 아니라 20px이 되는 것을 의미한다.

            두 박스 사이의 거리를 두 번 주지 않고, 큰 쪽 하나만 적용한다.
* 기본적으로 h2, p에는 여백이 있다는 것을 기억할 것.

*/
