#page-header {
    background-color: #f5f5f5;
}

.day {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 0;
}

.day-title {
    font-weight: 700;
    font-size: 20px;
}

.day-desc {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

.highlight {
    background-color: #fffbe6;
}

.day .day-title {
    color: red;
}

.day.highlight {
    border-color: red;
}

.day-image {
    margin-top: 8px;
    max-width: 100%;
    display: block;
}

/*
3일차: 일부러 확인용으로 만든 선택자.
.day.day-title {
    color: blue;
}
*/

/*
4일차: 일부러 확인용으로 만든 것.
h2, p {
    margin: 0;
}
*/

/*
5일차: 일부러 망친 것
.day-desc {
    font-size: 14px;
    line-height: 1;
}
*/

/*
border  : 경계선 표시. 요소의 끝.
          border: (선의 두께. 1px 등) (선의 모양. solid 등) (선의 색상. #ccc 등.)
          border만 눈에 보이는 것(선)이라서 padding, margin(둘 다 공간 개념)의 기준점이 된다.
padding : 안쪽 여백. 내 공간. 글자와 테두리 사이의 공간.
          겹치지 않는다.
          박스 내의 안쪽 공간. content와 border 사이의 공간. 다른 요소와 공유되지 않는 것.
            따라서 각각 독립적으로 존재.
margin  : 바깥 여백. 사이 공간. 섹션과 섹션 사이가 벌어지는 것. border 바깥의 공간.
          margin끼리는 겹칠 수 있다(위아래-vertical- 방향만)(좌우에서는 일어나지 않는다).
          요소와 요소 사이의 거리 개념이기 때문.
            .day 안에 { ... margin:20px; }있다고 할 때,
            <section class="day> <h2>Day 1</h2> </secion> 과
            <section class="day> <h2>Day 2</h2> </secion> 과 사이의 거리는
            40px이 아니라 20px이 되는 것을 의미한다.

            두 박스 사이의 거리를 두 번 주지 않고, 큰 쪽 하나만 적용한다.
* 기본적으로 h2, p에는 여백이 있다는 것을 기억할 것.
*/

/*
font-weight : 100~900, 혹은 normal, bold 등으로 구분해서 사용.
              bold 등을 쓸 때는 빠른 테스트나 개인 메모로 쓸 때 자주 이용.
              숫자 등을 쓸 때는 디자인 기준을 만들거나 여러 텍스트 단계가 있을 때 자주 이용.

font-size / font-weight : font-size는 정보의 단계(위계), font-weight는 같은 단계에서의 강조.
                          따라서 제목은 단계가 다르고, 강조는 같은 단계에서 눈에 띄게 하는 것.
                          크기가 가장 직관적인 위계 신호로 이용된다.

line-height : 다음 줄의 시작점을 찾기 용이하기 위해 지정.
              시선이 자연스럽게 이동하기 위함.
              이것을 비율로 쓰는 이유는 font-size가 바뀌어도 줄 간격을 유지하기 위해서.
                px로 지정할 수도 있지만, 비율로 쓰면 현재 font-size에 종속된다.
*/

/*
img     : 이미지 파일 자체에 기본적으로 고유한 가로/세로(px) 존재.
          css를 안 주면 자기 원본 크기로 렌더링.
          따라서 max-width 등을 써서 전체 크기를 제한.
            max-width   : 큰 이미지는 줄이고 작은 이미지는 그대로 사용.
                          부모 요소의 너비를 넘지 말라는 제한.

          width나 height 등을 이용해서 비율을 강제로 깨면 이미지가 변형되니 주의.
            width: 100%, heigth: 200px 등으로 사용.
            height는 건드리지 않아야 하고, 필요하면 heigth: auto를 사용한다.

          기본적으로 img는 inline 요소(글자와 같은 줄에 놓이는 요소라는 의미)로 취급(내용 요소로 취급된다).
          따라서 아래에 미묘한 여백이 생긴다(텍스트 기준선에 맞추려 하기 때문).
          이를 해결하기 위해 display: block;를 이용한 것.
          레이아웃 요소(배치/구조의 목적으로 이용)로 이용할 때는 의미가 없기 때문.
            이 여백은 g,y,p 같은 글자의 꼬리(descender)가 내려올 공간.
            레이아웃 요소로 사용되는 이미지는 이 공간이 필요없는데도 기본적으로 글자와 같은 줄에 놓이는 요소로 취급되어 여백이 생기는 것.
            여백을 없애는 이유는 디자인 의도도 아니고, 컨트롤도 어렵고, 레이아웃 계산도 어렵게 하기 때문.
            의도하지 않은 공간은 남기지 않는 것이 기본 원칙.
*/
