header {
    justify-content: center;
    text-align: center;
}

.summary-area,
.input-area,
.filter-area,
.budget-list {
    padding: 10px;
    margin-bottom: 10px;
}

.summary-area {
    justify-content: center;
    text-align: center;

    background: #c8dbca;
}

.summary-sort {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.summary-month-area,
.summary-category-area {
    flex: 1;

    background: white;
    border-radius: 10px;
}

.summary-month-area {
    justify-content: center;
    text-align: center;
}

.summary-category-area {
    justify-content: center;
    text-align: center;

    gap: 10px;
    margin-bottom: 10px;
}

.summary-category-option {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.summary-category-type {
    width: 120px;
    height: 30px;
    text-align: center;
}

.summary-category-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-month-btn,
.now-month-btn,
.next-month-btn {
    padding: 5px;
    margin: 5px;

    border-radius: 5px;
    border: none;
    background: #a4c4a7;
}

.prev-month-btn:hover,
.now-month-btn:hover,
.next-month-btn:hover {
    cursor: pointer;
    background: #88ac8c;
}

.budget-card {
    padding: 5px;
    margin-bottom: 5px;

    border-radius: 5px;
    background: #a4c4a7;
}
