header {
    background-color: #222;
    color: white;

    text-align: center;
    padding: 10px;
}

main {
    background-color: #969696;
}

footer {
    background-color: #eee;

    /*글자가 너무 크고 붙어있어서 추가*/
    padding: 5px;
    font-size: 14px;
}

.day11-test-color {
    background-color: #f5f5f5;
    padding: 24px;

    /*main의 background color가 안 보여서 margin을 준 상태*/
    margin: 10px;
}

.day11-test-color.highlight {
    background-color: #acacac;
}

.day11-test-image {
    background-image: url("day11-image.jpg");
    background-size: cover;
    background-position: center;

    /*텍스트와 이미지가 안 붙게 + 텍스트 가독성을 높이기 위해*/
    padding: 16px;
    color: white;
}


/*
background-color    : border 없이도 구역으로 분리되는 느낌을 줄 수 있다.
                      padding의 영향을 받으며, padding의 값이 늘어나면 background-color의 영역도 늘어닌다.
                        margin의 영향을 받지는 않는다.

background-size     : 이미지 크기 결정.
                      auto  : 이미지 원본 크기 그대로. 요소보다 작으면 반복하고 크면 잘린다.
                      cover : 요소를 빈틈 없이 꽉 채운다. 비율은 유지하기 때문에 일부 잘릴 수 있다.
                              섹션 배경 이미지, 히어로 영역, 카드 썸네일 등에 쓴다.
                      contain   : 이미지 전체가 다 보이게끔 한다. 비율은 유지하지만 요소에 빈 공간이 생길 수 있다.
                                  로고나 잘리면 안 되는 이미지 등에서 사용한다.
                      ...px, ...% auto  : 100px이나 50% auto 등으로 쓰는 방법. 가로와 세로를 직접 제어한다.
                                          비율이 깨질 수 있으니 조심해야 한다.

background-position : 이미지를 어디 기준으로 배치할지 결정.
                      이미지를 '정렬'하는 게 아닌, '기준점'을 어디에 둘지 결정한다는 걸 기억해야 한다.
                      또한 요소를 움직이는 게 아닌, 요소 안에서 이미지 위치만 변경된다는 걸 기억해야 한다.
                      기본값은 background-position: 0 0; (left top)
                          center(center center), left top, right bottom 등으로 키워드를 준다. 
                          물론 50% 50%, 0% 100% 등으로도 이용 가능하다. 이는 요소 기준 위치로, 이미지의 기준점이 이동하는 것.
                              50% 50%이면 가운데 기준이 된다.
                          20px 40px으로 이용하기도 한다. 미세 조정할 때 쓰며, 반응형에서는 잘 사용되지 않는다.

*/