h1{
    text-align: center;
}

.profile-section{
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 20px;
    margin: 20px;

    background-color: #f5f5f5;
}

.profile-card {
    /*
    flex: 1 1 1 250px;
    max-width: 300px;
    이 두 개를 쓸 수 있다는데 잘은 모르겠다.
    */

    width: 250px;
    padding: 20px;

    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.3s;

    background-color: white;
}

.profile-card:hover {
    transform: translateY(-5px);
}

.profile-card h2 {
    margin-bottom: 10px;
}

.profile-card p {
    line-height: 1.6;

    color: #555;
}

@media (max-width: 600px) {
    .profile-section{
    flex-direction: column;
}
}
