h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

body {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;

    background: #f5f5f5;
}

header {
    padding: 40px 20px;
    text-align: center;
    background: white;
}

main {
    text-align: center;
    margin-top: 50px;
}

.btn {
    text-align: center;
}

#num {
    font-size: 50px;
    margin:20px 0;
}

button {
    padding: 10px 30px;
    margin: 5px;
    border: none;

    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

button:active {
    transform: scale(0.95);
}
