h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

header {
    padding: 40px 20px;
    text-align: center;
    background: white;
}

body {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;

    background: #f5f5f5;
}

.btn {
    text-align: center;
}

#num {
    font-size: 40px;
    margin:20px 0;
}

button {
    padding: 10px 30px;
}