header {
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    
    text-align: center;

    background: #f0f0f0;
}

input {
    width: 200px;
    height: 20px;
}

input:focus {
    outline: none;
    border: 2px solid #4dabf7;
}

.todo-list {
    padding-left: 20px;
}

ul li {
    line-height: 2;
}

li {
    list-style: none;
    margin: 8px 0;
    padding: 8px;

    border-radius: 6px;
    background: #fff;

    transition: opacity 0.2s ease, transform 0.2s ease;
}

li:hover {
    background: #f1f1f1;
}

.done {
    text-decoration: line-through;
    color: gray;
    background-color: #f0f0f0;
    opacity: 0.6;
    transition: all 0.2s ease;
}

/* ====== button ===== */
button {
    margin: 5px;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.child-btn {
    background-color: #ff6b6b;
    color: white;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    align-items: center;
}

.active {
    background-color: black;
    color: white;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.95);
}

/* ===== animation ===== */
.fade-in {
    opacity: 0;
    transform: translateY(6px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(-6px);
}
